
body {
    background-color: lightcoral;
    padding: 2rem;

}

.location {
    background-color: bisque;
    padding: 0 1rem;
    transition: all 0.5s ease-out;
}

.location:hover {
    transform: scale(1.1);
}

.flex {
    display:flex;
    justify-content: space-between;
}

ul {
    margin-left: 1rem;
    list-style: disc;
    padding-left: 1rem;

}

ol {
    list-style-position: inside
    list-style: decimal;
    padding: 1rem;
    margin-left: 1rem;
}